{% extends 'get_got/base_en.html' %}
{% block content %}
<body>
  <header>
    <h1>About Us</h1>
  </header>
  <main>
    <section>
      <h2>Our Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus augue eget lorem commodo, nec faucibus lorem dapibus.</p>
    </section>
    <section>
      <h2>Our Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus augue eget lorem commodo, nec faucibus lorem dapibus.</p>
    </section>
    <section>
      <h2>Why Choose Us?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus augue eget lorem commodo, nec faucibus lorem dapibus.</p>
    </section>
  </main>
</body>
{% endblock %}