{% extends 'get_got/base_en.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <title>Image List</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Image List</h2>
        <div class="row">
              {% for position in images %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ image.url }}" class="card-img-top" alt="{{ position.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ position.title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}