{% extends 'get_got/base_en.html' %}
{% block content %}
<h1 class="bg-gray-200 p-3 rounded-lg mx-auto" style="max-width: 300px;">Log in</h1>

<form action="{% url 'login' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                {% for f in form %}
                <p class="alight-center"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-dark text-warning">Log in</button>
        </div>
    </div>
    <div class="mb-4"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <a class="nav-link active text-dark" href="{% url 'register' %}"> Not registered?</a>
            </div>
            <div class="col-sm-12 text-center">
                <a class="nav-link active text-dark" href="{% url 'forgot_password' %}"> Forgot password?</a>
            </div>
        </div>
        <div class="mb-4"></div>
    </div>


</form>
{% endblock %}